/*content 部分全局样式 开始*/
*html{background-image:url(about:blank);background-attachment:fixed;}
.fclub_content{-webkit-box-shadow: 3px 3px 3px #E5E5E5; -moz-box-shadow: 3px 3px 3px #E5E5E5; box-shadow: 3px 3px 3px #E5E5E5; width:973px; margin:0 auto 35px; padding:7px 13px 20px 12px; border:1px solid #D1D1D1; border-top:none; background:#fff;  }
.mainShowdowByBody{width:4px; overflow:hidden; position:absolute; height:100%; right:-5px; top:0px; background:url(../images/new_index/bgShadowRight.jpg) repeat-y;}
.adv,.goods,.goods_over,.goods_start,.goods_share{ clear:both; overflow:hidden; margin-top:16px;}
.goods_over,.goods_start{ margin-top:10px;}
.now,.nowNews{ display:block!important;}
.displaynone{ display:none}
.unvisitb{font-size: 12px; left: -9999px; position: absolute; top: 0;}
/*content 部分全局样式 结束*/

/*合并图片*/
.close_alert,a.start_tips,a.notice_btn,a.notice_btn:hover,a.qianggoua,.dynamic_msg{ background-image:url(../images/new_index/all_bgs.png);}
.over_head,.start_head,.share_head,.alert_top{ background-image:url(../images/new_index/content_nav_bgs.png); background-color:#000;}

/*第一频 闪屏区域 开始*/
.adv{ margin-top:0px!important;}
.play{ float:left; width:708px; height:320px; position:relative; overflow:hidden; }
ul#play_list{ position:absolute; height:320px; }
ul#play_list li, ul#play_list li a, ul#play_list li a img{ margin:0!important; padding:0!important; border:0!important; width:708px; height:320px; overflow:hidden; font-size:12px;}
ul#play_focus{ position:absolute; right:14px; bottom:10px;}
ul#play_focus li{ cursor:pointer; float:left; margin-left:7px; padding:2px 6px; color:#fff; font-family:Arial; font-weight:800; text-align:center; background:#000; filter:alpha(opacity=70); -moz-opacity:0.7; opacity: 0.7;}
ul#play_focus li.active_num{ background:#900}

.dynamic{ float:left; width:265px; height:320px;}
#dynamic_btn{ float:right ; height:14px; }
.group_pic,a.dynamic_pic,a.dynamic_pic img{ display:block; width:265px; height:220px; overflow:hidden;}
.dynamic_msg{ width:265px; height:100px; background-position:-471px 0;}
.dynamic_msg h1{ font-size:12px; color:#000; height:20px; padding:2px 0 0 10px;}
a.dynamic_prev,a.dynamic_next{ cursor:pointer; display:inline-block; text-decoration:none!important; font-family:'宋体'!important; font-weight:normal; color:#fff; text-align:center; width:10px; height:10px; line-height:10px; padding:2px; margin-top:7px; background:#666;
 border:0; clear:both; overflow: hidden;}
a.dynamic_next{ margin-right:8px;}
a.dynamic_active, a.dynamic_active:hover{ background:#ccc!important;}
a.dynamic_prev:hover,a.dynamic_next:hover{ background:#A00; border:none}

ul.msg_list{ margin:4px 0 0 8px; _margin-top:-4px; clear:both; overflow:hidden; display:none;}
ul.msg_list li{ background-image:url(http://imgs.fclub.cn/index_jscss_20120412/images/disc.png); background-position:3px center; background-repeat:no-repeat; _zoom:1; padding-left:12px; width:230px; height:23px; line-height:23px;}
ul.msg_list li a{ color:#333!important;}
ul.msg_list li a:hover{ color:#E00814!important; text-decoration:underline;}
/*第一频 闪屏区域 结束*/

/*第二频 限抢区域 开始 */
ul.product_list{ display:block; overflow:hidden;}
ul.product_list li{ float:left; display:block; margin:0 0 6px 6px; width:320px; height:218px; position:relative;}
.ml{ margin-left:0!important;}
ul.product_list li p{ width:320px; height:36px; line-height:36px; background:#900; position:absolute; left:0;  bottom:0; display:none;}
ul.product_list li p span{ font-family:'微软雅黑'; font-size:16px; font-weight:bold; color:#fff; margin-left:14px;}
a.qianggoua{ float:right; width:76px; height:24px; margin:6px 11px 0 0; background-position:-291px 0;}
a.pic_goods,a.pic_goods img, .hot_area img{ display:block; width:320px; height:218px;}

/*第二频 限抢区域 结束 */

/*第三频 即将结束的品牌 开始*/
.over_head{ width:973px; height:40px; margin-bottom:10px; background-position:0px -80px;}
p.reverse{ float:right; font-family:'微软雅黑'; font-size:16px; font-weight:normal; color:#fff; height:40px; line-height:40px; padding-right:7px;}
/*第三频 即将结束的品牌 结束*/

/*第四频 即将出售的品牌 开始*/
.start_head{ background-position:0px 0px; position:relative;}
ul.start_date{ height:40px; margin-left:184px;}
ul.start_date li{ float:left; text-align:center; width:100px; height:40px; line-height:36px; border-right:1px solid #666; color:#fff; cursor:pointer;}
li.start_active{ background:url(../images/new_index/start_active.png); color:#900!important; border-right:none!important;}
ul.start_date li span{ font-size:14px}
li.start_active span{ font-weight:bold;}
a.start_tips{ background-position:-15px 0; background:url(../images/new_index/start_tips.png) no-repeat; display:block; width:116px; height:25px; line-height:25px; text-align:center; padding-left:4px; color:#000!important; position:absolute; top:7px; right:6px; _right:20px;}

.start_brand{ border:1px solid #000; border-top:none; padding:12px 12px 4px 13px; +padding-bottom:12px;  _zoom:1 }
.start_brand, ul.start_list{ clear:both; overflow:hidden;}
.start_brand ul{ display:none;min-height:102px; height:auto !important; height:102px; overflow:visible;}
.start_brand ul li{ width:228px; height:90px; margin:0 0 8px 8px; border:1px solid #CCC; float:left}
.start_brand ul li img{ float:left; width:120px; height:90px;}
.start_brand ul li p{ float:left; width:100px; margin:5px 0 0 8px; font-family:'微软雅黑'; font-weight:bold; font-size:13px; }
.start_brand ul li p strong{ width:100px; height:20px; overflow:hidden; display:block;}
.start_brand ul li p b{ font-family:'微软雅黑'; font-weight:bold; font-size:13px; color:#900; display:block; width:96px; height:20px; overflow:hidden;}
a.notice_btn{ display:block; width:77px; height:23px; margin-top:10px; background-position:-135px 0;}
a.notice_btn:hover{ background-position:-213px 0;}
.active_content{ display:block!important; clear:both; overflow:hidden;}
/*第四频 即将出售的品牌 结束*/

/*第五频 爱聚尚 爱分享 开始*/
.goods_share{ position:relative; overflow:visible; clear:both;}
.new_share{ display:block; width:31px; height:15px; position:absolute; left:158px; top:5px; background:url(../images/new_index/new_ishare.gif) no-repeat;}
a.saidan, a.saidan:hover{ background-image:url(../images/new_index/saidan.gif);}
a.saidan{ display:block; width:188px; height:39px; position:absolute; right:6px; _right:20px; top:-6px; background-position:0 0; z-index:2;}
a.saidan:hover{background-position:0 40px;}
.share_head{ background-position:0px -40px; height:40px; margin-bottom:10px;}
.share_first,.share_first img{ width:220px; height:320px; border:1px solid #CCC; display:block; }
.share_pic{ overflow:hidden; position:relative; clear:both;}
.share_first{ overflow:hidden; position:relative; clear:both;}

a.first_wei{ position:absolute; left:0; bottom:0; width:210px; height:30px; line-height:30px; background:#000; outline:none; filter:alpha(opacity=80); -moz-opacity:0.8; opacity: 0.8; padding-left:10px; text-decoration:none!important; overflow:hidden;}
a.first_wei strong{ color:#f00; font-weight:normal;}
a.first_wei span{ float:right; margin-right:12px; color:#fff;}
a.first_wei p{ line-height:18px; padding:0 10px 8px 0; color:#fff;}
.w283{ width:284px!important;}
.w141{ width:143px!important;}
.w241{ width:243px!important;}
.w216{ width:217px!important;}

.share_pic ul{ width:751px; padding:0; position:absolute; left:225px; _left:220px; top:0;}
.share_pic ul li{ margin:0 0 13px 15px; _margin-left:12px; float:left; position:relative}
.share_pic ul li a{ display:block;}
.share_pic ul li img{ display:block; border:1px solid #CCC;}
.mr2{ margin-right:2px!important; _margin-right:0px!important;}
.hotshare2 img{ width:293px; height:152px;}
.hotshare152 img{ width:152px; height:152px;}
.hotshare4 img{ width:252px; height:152px;}
.hotshare6{ margin-left:13px!important;}
.hotshare6 img{ width:226px; height:152px;}
/*第五频 爱聚尚 爱分享 结束*/

/*开场通知 弹窗 开始*/
.start_alert{ background:#000; border:1px solid #2D2D2D; width:406px; padding:6px; display:none; }
.alert_top{ height:35px; background-position:0 -120px;}
h1.title_top{ height:35px; line-height:35px; font-size:12px; color:#CCC; padding-left:15px;}
.alert_body{ background:#EFEFEF; padding:25px 20px 18px 25px}
.close_alert{ width:20px; height:19px; background-position: 0 -32px; float:right; margin-right:10px; margin-top:8px; cursor:pointer}
.alert_title{ font-size:14px; font-weight:bold; color:#000; line-height:20px;}
.notice_type{ margin-top:15px;}
.notice_type p{ margin-bottom:14px;}
.notice_type p b, .notice_type p input, .notice_type p span{ display:inline-block; height:26px; line-height:26px;}
.notice_type p b{ font-weight:normal; color:#000; margin-bottom:5px;}
.notice_type p input{ width:163px; height:26px; padding-left:5px; margin-right:3px; line-height:26px; border:1px solid #989898; color:#989898;}
.notice_type p span{ color:#900; margin-bottom: 5px; }
input.send_notice{ clear:both; width:104px; height:40px; margin-left:63px; border:none; background:url(../images/new_index/all_bgs.png) -367px 0; display:block; cursor:pointer;}
p.notice_tips{ color:#686868; margin-top:20px;}
/*开场通知 弹窗 结束*/


